@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  font-size: 18px;
  background-color: #0e0e0e;
  line-height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 3000px;
}

@media (min-width: 1200px) {
  .container {
    @apply max-w-[1024px] px-[15px] mx-auto;
  }
}
